/* header */

.header__wrapper {
    display: flex;
    align-items: center;
    background-color: var(--light-orange);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    padding: 0px 20px;
}

.header {
    height: var(--header-height);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    
    line-height: var(--height-40);
    font-size: var(--height-40);
    font-weight: 900;
    background: -webkit-linear-gradient(0deg,var(--medium-blue), var(--strong-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
    padding: 5px;
}
.nav {

}
.nav__item {
    margin-left: 30px;
    padding: 8px 12px;
    font-size: 1.6rem;
    color: var(--white-text);
    background-color: var(--strong-orange);
    border-radius: 5px;
    opacity: 1;
}

.nav__item:hover {
    opacity: 0.7;
}
/* app */
.app {
    margin-top: var(--header-height);
}

.member--reverse {
    flex-wrap: wrap-reverse;
}

.member__content {
    display: flex;
    display: flex;
    margin-top: 100px;
    align-items: flex-start;
    flex-direction: column;
    font-style: italic;
}

.member__name {
    line-height: var(--height-40);
    font-size: var(--height-40);
    background: -webkit-linear-gradient(180deg,#303179, #ed7966 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 8px 5px;
    margin: 0;
    font-style: italic;
}

.member__role {
    line-height: var(-height-30);
    font-size: var(--height-30);
    margin: 10px 0;
    padding: 8px 5px;
    background: -webkit-linear-gradient(180deg,#303179, #ed7966 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.member__des {
    font-size: 2.0rem;
    margin: 0;
    padding: 8px 5px;
    font-style: italic;
}

.other__member-des {
    text-align: center;
    font-size: 2.0rem;
    background: -webkit-linear-gradient(0deg,#303179, #ed7966 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0 0;
    height: 5.0rem;
    font-weight: 700;
}

.content__img-wrapper:hover {
    opacity: 0.9;
}
.intro__img {
    width: 100%;
    border-radius: var(--radius);
    cursor: pointer;
}

.class__img {
    width:100%;
    height: 330px;
    cursor: pointer;
}

.img__member {
    width:100%;
    object-fit: cover;
    height:480px;
    object-position: top center;
    cursor: pointer;
}

.other__member-img {
    width:100%;
    cursor: pointer;
}

.other__content {
    display: flex;
    flex-direction: column;
}

.other__member-img {
    height: auto;
    object-fit: contain;
}

.form {
    display: flex;
    flex-direction: column;
}

.contact__input {
    width: 100%;
    outline: none;
    border: 1px solid #eeeeeebb;
    padding: 15px 20px;
    font-size: 2rem;
    margin: 10px 0px;
}
.contact__img {
    width: 100%;
}

/* footer */

footer {
    background-color: var(--deep-blue);
    padding: 64px 0px;
    margin-top: 120px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}

.footer__content {
    display: flex;
}

.footer__des {
    font-size: 1.6rem;
    color:var(--white-text);
    margin-left: 20px;
}

.backtotop {
    font-size: 1.6rem;
    color:var(--white-text);
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
}

.footer__icon {
    margin: 4px 0px 0px 6px;
}

.footer--logo {
    background: -webkit-linear-gradient(0deg,var(--medium-orange), var(--strong-orange) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer__icons {
    display: flex;
    justify-content: center;
}
.footer__icons i {
    font-size: 4.0rem;
    margin: 0px 20px;
    padding: 20px;
}

.footer__icons i:hover {
    opacity: 0.7;
    border:1px solid #777777 ;
}